/* for the job description */
ul.job-details {
    list-style: none; /* Remove the bullets */
    padding: 0;
    font-size: large;
  }
  
ul.job-details li{
margin: 25px;
}

ul.job-details  li.job-description {
margin-top: 40px;
}

.job-title-details {
background-color: #F4F5F7;
text-align: center;
padding: 10px;
}

.btn-container{
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 50px;
    white-space: nowrap;
}