/* Welcome messgaes */
.welcome-msg-container{
    display: flex;
    position: relative;
    margin-bottom: 30px;
    
    
  }
  .welcome-msg-txt{
    width: 40%;
    position: absolute;
    top: 33%; /* Position the text at the vertical center */
    left: 20%; /*Position the text at the horizontal center */
    transform: translate(-50%, -50%); /* Center the text perfectly */
    margin-left: 40px;
  }
  
  .welcome-msg-container .title{
    color: #338573;
    font-size: 4em;
  }
  
  .welcome-msg-container .img-container .img{
    width: 100%;
  }
  
  /* Search */
  .search-container{
    margin-bottom: 40px;
    display: flex;
    align-items:center;
    position: absolute;
    top: 62%; 
    left: 2.5%; 
    
  }
  
  .search-container .edit-text{
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 80%, 0.1);
    background-color: #fcfcfc;
    width: 500px;
    height: 50px;
    padding: 10px;
    margin-right: 130px;
  
  }
  