.add-btn-contanier{
    display: flex;
  right: 2%;
  margin-top: 3%;
  position: absolute;
  text-align: center;
}
.button{
    margin-top: 20px;
}

.error-message2 {
  color: red;
  font-size: 14px;
  margin-top: 25px;
  margin-left: 10px;
}