.chat-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-messages {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.chat-message {
    margin-bottom: 5px;
}

.chat-form .send-message-contanier input{ 
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 0%, 80%, 0.1);
    background-color: #fcfcfc;
    width: 85%;
    height: 50px;
    padding: 10px;
    margin-left: 30px;
    margin-right: 0;

}
.send-message-contanier{
    display: flex;
}
