/* for the job description */
ul.job-details {
    list-style: none; /* Remove the bullets */
    padding: 0;
    font-size: large;
  }
  
ul.job-details li{
margin: 25px;
}

ul.job-details  li.job-description {
margin-top: 40px;
}

.job-title-details {
background-color: #F4F5F7;
text-align: center;
padding: 10px;
}

.btn-container{
  display: inline-block;
  position: absolute;
  right: 3%; 
  margin-right: 60px;
   white-space: nowrap; 
}


.btn-container2{
display: inline-block;
width: fit-content;
position: absolute;
white-space: nowrap; 
}
